body 
	{background-attachment: fixed ;
	background:rgb(46,135,91);
	padding-top: 5px;}
	
 .navigation {
  position: relative;
  min-height: 20px;
  margin-bottom: 0px;
  background:white;
  border: 1px solid transparent;
} 
	
	
.conteneur_couleur {
	 background:gray; 
	}


#st1 
	{font-family:arial;
	font-size: 36px;
	color: white;
	font-style:italic;
	/* text-shadow:2px 0px white; */
	text-align:center;}
#banniere 
	{height:165px;
	}
#navigation a
	{display:block;
	font-size:20px;
	font-weight:bold;
	color:black;
	margin-left:1px;
	margin-bottom:2px;
	padding:7px;
	background:#CCCCCC;
	float:left;
	width:125px;
	text-align:center;
	border-radius:4px;
	font-family:Times New Roman, Times, serif;
	text-decoration:none;}
#navigation a:hover
	{background:rgb(46,135,91);
	color:white;
	border-bottom:1px solid yellow;}
#navigation
	{height:50px;
	width:1005px;
	background:gray;
	/* border-radius: 0px 0px 10px 10px;
	box-shadow: 1px 1px 1px white; */
	/* border:solid 2px white; */}
#conteneur
	{width:1000px;
	height:1800px;
	margin:auto;
	}
#milieu
	{height:1610px;
	background:rgba(255,255,255,0.2);
	text-align:justify;
	word-wrap:break-word;
	/* border-radius: 10px 10px 10px 10px; */
	width:1004px;}
#colonne1 ,#colonne2
	{display: inline-block;
	vertical-align: top;
	text-align: justify;
	border-color: #FFFF00;
	height:1500px;}
#colonne1
	{border-radius: 10px 0px 0px 10px;
	box-shadow: 2px 2px 2px white;
	border:solid 2px gray;
	width:1000px;
	background:#ffffff;
	float:left;
	padding:5px;
	word-wrap:break-word;}
	
#colonne2
	{border-radius: 0px 10px 10px 0px;
	box-shadow: 2px 4px 4px white;
	border:solid 2px gray;
	float:right;
	position: relative;
	width: 291px;
	padding:5px;
	font-size: 0.9em;
	background-color: #eee;
	word-wrap:break-word;}



#defil
{color:white;
font-size:36px;}
	
	#bout
	{text-align:center;
	border:0px;}
#bout img
	{height:46px;
	width:46px;
	text-decoration:none;}

.bordure1
	{/* border-radius: 12px 12px 0px 0px; */
	/* box-shadow: 1px 1px 1px white; */
	border:solid 2px white;}
.bordure2
	{border-radius: 0px 10px 10px 0px;
	box-shadow: 3px 3px 3px white;
	border:solid 2px white;}
.bordure3 
	{ border-radius: 10px 10px 0px 0px;
	border:2px yellow solid ;}
#idvideos
	{ border-radius: 10px 10px 0px 0px;
	border:2px yellow solid ;
	height:380px;
	background-color: #77CA7C;}
.divi
{margin-top: 0px;
margin-bottom: 4px;
color:white;
font-size:16px;
height:70px;}
	
fieldset
{border:4px solid green;
font-size:20px;
margin-top:10px;
margin-left:0px;}
label
{font-style :italic;
color:green;}
input
{border:1px solid green;
font-size:18px;
}

	
.imv
	{width:100px; 
	height:70px; 
	float:left;
	}

.st_vid
	{
	border:4px solid green;
	border-radius:4px 4px 4px yellow;
	width:670px; height:400px;
	margin-top:40px;}


#menu
	{height:1400px;
	width:270;
	background:#999999;}

.im
	{width:675px; 
	height:420px; 
	border:4px dotted gray;}
.ombretex1
{color:white;
	font-size: 30px;
text-align:center;
margin-top:0px;
margin-bottom:0px;}
#actu
	{height:500px;
	
	margin-top:8px;
	margin-bottom:8px;}
.actudiv img
{float:left;
height:150px;
width:100px;
margin-left:8px;
margin-right:10px
}

.actudiv
	{
	/* margin-left:15px;
	margin-right:15px; */
	margin-bottom:5px;
	color:white;
	margin-top:5px;
	font-size:15px;
	text-align:justify;
	padding:6px;
	/* height:350px; */}

#pub
	{height:470px;
	border:1px solid gray;
	margin-top:8px;
	margin-bottom:8px;}
#pub p img
	{width:140px; 
	height:200px;
	border:2px solid green;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;}
#pub p img:hover
	{
	border:2px solid red;
	border-radius:10px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;}
#pub p{
text-align:center;}
.titre{
	color: #003B01;
	border-radius: 10px 0px 0px 0px;
	background:rgba(255,255,255,0.8);;
	margin-right:30px;
	height:37px;
	max-width:682px; 
	margin:0px;
	padding-top:7px;
	font-size:25px;
	text-align: left;	
}
.ombretex3 
	{color: #006600;
	font-size: 36px;
	color: #006600;
	text-decoration: underline;
	font-weight: bold;
	font-size: 24px;
	background:#eee;
	border-radius:10px 10px 0px 0px;
	padding:3px;
	width:50%;
	border:1px solid #006600}
	.pres
	{border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 10px #339900;
	border:solid 1px yellow;
	background-color:#CCCCCC;;
	word-wrap:break-word;
	padding:8px;
	margin:8px;
	text-align:justify;}
.pres .titre1
{
	color: #006600;
	font-weight: bold;
	font-size: 20px;
	background:#eee;
	border-radius:10px 0px 10px 0px;
	padding:3px;
	border:1px solid #006600
}

.bod {color: #fff;
	font-weight: bold;
	font-size:20px;
	text-align:center;
	margin:1px;
	background:gray;
	text-shadow:1px 1px 1px #eee;
	border-radius:10px 10px 0px 0px ;}
.imageDomaine{
text-align:justify;
height:175px;
	width:175px;
	
}
#bas
	{
	background:white;
	}
.signature
{color:gray;
float:center;
font-size:17px;
}
#scrollUp
{
position: fixed;
bottom : 10px;
right: -100px;
opacity: 0.5;
}	
 
.header{
    height:200px;
    text-align:center;
    line-height:200px;
    background:#faf2f3;
}
 
.nav{
    background:#f3f2f1;
    height:50px;
    margin-bottom:15px;
}
.nav ul li{
    float:left;
    list-style:none
}

.nav ul li :hover{
    
	background:white;
}
.nav ul li a{
    line-height:40px;
    display:block;
    padding:0 10px;
}
 
 .nav ul li a {
    line-height:40px;
    display:block;
    padding:0 10px;
	
}
.main{
    height:560px;
    background:#f8f9f6;
}
.nav.fixed{
  position:fixed;
  top:0;
  z-index:1000;
}