body {
	background-attachment: fixed;
	background: rgba(6, 83, 224, 0.5);
	padding-top: 5px;
}

.conteneur_couleur {
	background: rgba(255, 255, 255, 1);
	padding-top: 12px;
	border-radius: 25px 0px 25px 0px;
}

.ombretex3 {
	font-size: 20px;
	color: #FFF;
	font-weight: bold;
	background: rgba(6, 83, 224, 0.7);
	border-radius: 13px 0px 13px 0px;
	padding: 15px;
	border: 1px solid #006600
}

#non_visible {
	display: none;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

#non_visibleEspace {
	display: none;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}

#bas {
	background: white;
}

.signature {
	color: gray;
	float: center;
	font-size: 17px;
}

#scrollUp {
	position: fixed;
	bottom: 10px;
	right: -100px;
	opacity: 0.5;
}

#formlogin {
	margin: 10px;
}

